<div id="footer" class="w-full flex flex-col bg-black text-white px-12 pt-12 pb-4">
   <div class="w-full flex flex-row">
        <div class="w-1/6">
            <ul class="space-y-3">
                <li><a href="">TARJETAS DE REGALO</a></li>
                <li><a href="">BUSCAR UNA TIENDA</a></li>
                <li><a href="">NIKE JOURNAL</a></li>
                <li><a href="">HAZTE MEMBER</a></li>
                <li><a href="">DESCUENTO PARA ESTUDIANTES</a></li>
                <li><a href="">Comentarios</a></li>
                <li><a href="">CÓDIGOS PROMOCIONALES</a></li>
            </ul>
        </div>
        <div class="w-1/6 ">
            <ul class="space-y-3">
                <li><a href="">Ayuda</a></li>
                <li class="text-zinc-500 font-light hover:text-white"><a href="">Obtener ayuda</a></li>
                <li class="text-zinc-500 font-light hover:text-white"><a href="">Estado del pedido</a></li>
                <li class="text-zinc-500 font-light hover:text-white"><a href="">Envíos y entregas</a></li>
                <li class="text-zinc-500 font-light hover:text-white"><a href="">Devoluciones</a></li>
                <li class="text-zinc-500 font-light hover:text-white"><a href="">Opciones de pago</a></li>
                <li class="text-zinc-500 font-light hover:text-white"><a href="">Contacto</a></li>
                <li class="text-zinc-500 font-light hover:text-white"><a href="">Evaluaciones</a></li>
                <li class="text-zinc-500 font-light hover:text-white"><a href="">Ayuda con los códigos</a></li>
                <li class="text-zinc-500 font-light hover:text-white"><a href="">promocionales de Nike</a></li>

            </ul>
        </div>
        <div class="w-1/6 ">
            <ul class="space-y-3">
                <li><a href="">Empresa</a></li>
                <li class="text-zinc-500 font-light hover:text-white"><a href="">Acerca de Nike</a></li>
                <li class="text-zinc-500 font-light hover:text-white"><a href="">Novedades</a></li>
                <li class="text-zinc-500 font-light hover:text-white"><a href="">Empleo</a></li>
                <li class="text-zinc-500 font-light hover:text-white"><a href="">Inversores</a></li>
                <li class="text-zinc-500 font-light hover:text-white"><a href="">Sostenibilidad</a></li>
                <li class="text-zinc-500 font-light hover:text-white"><a href="">Proposito</a></li>
            </ul>
        </div>
        <div class="w-1/6"></div>
        <div class="w-1/6"></div>
        <div class="w-1/6 flex justify-end ">
            <ul class="flex flex-row space-x-2">
                <li><a href="">iconos</a></li>
                <li><a href="">iconos</a></li>
                <li><a href="">iconos</a></li>
                <li><a href="">iconos</a></li>
            </ul>
        </div>
   </div>

   <div class="w-full flex justify-end ">
    <ul class="flex flex-row text-zinc-500 font-light space-x-8">
        <li><a class="hover:text-white" href="">Guías</a></li>
        <li><a class="hover:text-white" href="">Términos de usi</a></li>
        <li><a class="hover:text-white" href="">Términos de venta</a></li>
        <li><a class="hover:text-white" href="">Aviso Legal</a></li>
    </ul>
   </div>
   <div class="w-full flex flex-row pt-6">
        <div class="flex flex-row justify-start w-full">
            <ul class="flex flex-row text-zinc-500 font-light">
                <li><a class="hover:text-white" href="">© 2024 Nike, Inc. Todos los derechos reservados</a></li>
            </ul>
        </div>
        <div class="flex flex-row justify-end w-full ">
            <ul class="flex flex-row justify-end text-zinc-500 font-light  space-x-8">
                <li><a class="hover:text-white" href="">Política de privacidad y cookies</a></li>
                <li><a class="hover:text-white" href="">Configuración de cookies</a></li>
            </ul>
        </div>
   </div>


</div>
